MACHINE ??= 'hotraco-hrfocus'
DISTRO ?= 'fslc-x11'
PACKAGE_CLASSES ?= "package_ipk"
EXTRA_IMAGE_FEATURES ?= "debug-tweaks read-only-rootfs package-management"
USER_CLASSES ?= "buildstats image-mklibs image-prelink"
PATCHRESOLVE = "noop"
BB_DISKMON_DIRS = "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    STOPTASKS,/tmp,100M,100K \
    ABORT,${TMPDIR},100M,1K \
    ABORT,${DL_DIR},100M,1K \
    ABORT,${SSTATE_DIR},100M,1K \
    ABORT,/tmp,10M,1K"
PACKAGECONFIG_append_pn-qemu-native = " sdl"
PACKAGECONFIG_append_pn-nativesdk-qemu = " sdl"
PACKAGECONFIG_append_pn-qtbase = " accessibility  gif jpeg"
CONF_VERSION = "1"

IMAGE_INSTALL_append += " gcc g++ binutils libgcc libgcc-dev libstdc++ libstdc++-dev libstdc++-staticdev \
    autoconf automake ccache chkconfig glib-networking glibmm \
    packagegroup-core-buildessential pkgconfig  \
    boost cmake zlib glib-2.0 packagegroup-fsl-tools-testapps  \  
    ruby \
    cpufrequtils \
    strace \  
    ldd \
    net-tools \
    python-compression \
    python-misc \
    python-logging \
    python-subprocess \
    python-distutils \
    python-email \
    python-dev \
    python-pyserial \
    python-spidev \
    memtester \
    tslib \
    tslib-conf tslib-tests tslib-calibrate \
    xf86-input-tslib \
    mtd-utils \
    iperf3 \
    modprobe-blacklist \
    egtouchd \
    mii-reg \
    iproute2 \
    vlan-scripts \
    u-boot-fw-utils \
    psi-version \
    fsl-rc-local \
    imx-vpu \
    imx-test \
    qtbase-plugins \
    qtbase-tools \
    qtdeclarative \
    qtdeclarative-tools \
    qtdeclarative-qmlplugins \
    qtmultimedia \
    qtmultimedia-plugins \
    qtmultimedia-qmlplugins \
    qtsvg \
    qtsvg-plugins \
    qtimageformats \
    qtimageformats-plugins \
    qtsystems \
    qtsystems-tools \
    qtsystems-qmlplugins \
    qt3d \
    qt3d-qmlplugins \
    qt3d-tools \
    qtquickcontrols \
    qtquickcontrols-qmlplugins \
    qtquickcontrols2 \
    qtquickcontrols2-qmlplugins \
    qtgraphicaleffects-qmlplugins \
    cinematicexperience \
    qtdemo-picanol \
    screentest \
    mfill-x \
    xterm \
    can-utils \
    dropbear \
    opkg \
    xfwm4 \
    xfce4-settings \
    e2fsprogs-resize2fs \
    gdb \
    gdbserver \
    ltrace \
    "
    
IMAGE_ROOTFS_EXTRA_SPACE = "1048576"

PREFERRED_PROVIDER_virtual/kernel = "linux-imx"

DL_DIR ?= "${BSPDIR}/downloads/"
ACCEPT_FSL_EULA = "1"
